pkgbase = python-urwid
	pkgdesc = Curses-based user interface library
	pkgver = 2.6.1
	pkgrel = 1
	url = https://urwid.org/
	arch = x86_64
	license = LGPL
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	checkdepends = python-twisted
	checkdepends = python-tornado
	checkdepends = python-trio
	checkdepends = python-pyzmq
	checkdepends = python-gobject
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = glibc
	depends = python
	depends = python-typing_extensions
	depends = python-wcwidth
	optdepends = python-gobject: for gobject integration
	optdepends = python-pyserial: for LCD and serial integration
	optdepends = python-exceptiongroup: for trio integration
	optdepends = python-pyzmq: for zmq integration
	optdepends = python-tornado: for tornado integration
	optdepends = python-trio: for trio integration
	optdepends = python-twisted: for twisted integration
	source = urwid-2.6.1.tar.gz::https://github.com/urwid/urwid/archive/refs/tags/2.6.1.tar.gz
	sha256sums = 0e54b1c459ccac1dc48bb98ae9e3fda160ca1239ee3a78fd70ad0df2987fcf08
	sha512sums = 6c02ee2fad986ca4e82e4fc89dbc1ba55c7dfc5d73acc0da5bf5dd1b1a7927b5d9574a7743c342fb67fae79d6e1be9294ccfe728db856ca74a6277d0771963e5

pkgname = python-urwid
