pkgbase = python-urwid
	pkgdesc = Curses-based user interface library
	pkgver = 2.5.1
	pkgrel = 1
	url = https://urwid.org/
	arch = x86_64
	license = LGPL
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	checkdepends = python-twisted
	checkdepends = python-tornado
	checkdepends = python-trio
	checkdepends = python-pyzmq
	checkdepends = python-gobject
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = glibc
	depends = python
	depends = python-typing-extensions
	source = git+https://github.com/urwid/urwid.git#commit=58ce51af2551c0d7db5386f3283ea186cf11cfc0
	sha256sums = SKIP
	sha512sums = SKIP

pkgname = python-urwid
