pkgbase = python-urwid
	pkgdesc = Curses-based user interface library
	pkgver = 2.6.1
	pkgrel = 1
	url = https://urwid.org/
	arch = x86_64
	license = LGPL
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	checkdepends = python-twisted
	checkdepends = python-tornado
	checkdepends = python-trio
	checkdepends = python-pyzmq
	checkdepends = python-gobject
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = glibc
	depends = python
	depends = python-typing-extensions
	depends = python-wcwidth
	source = git+https://github.com/urwid/urwid.git#commit=91cd0dde100c55c96dba5c06dd8a19b220947942
	sha256sums = SKIP
	sha512sums = SKIP

pkgname = python-urwid
